<app-header (loggedOut)="onLogout($event)" [parentAuthenticated]="authenticated"></app-header>

<div class="container">

    <!-- GitHub API Error Message -->
    <div *ngIf="errorMsg" class="alert alert-danger" role="alert">
        <svg class="octicon octicon-alert" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M8.893 1.5c-.183-.31-.52-.5-.887-.5s-.703.19-.886.5L.138 13.499a.98.98 0 000 1.001c.193.31.53.501.886.501h13.964c.367 0 .704-.19.877-.5a1.03 1.03 0 00.01-1.002L8.893 1.5zm.133 11.497H6.987v-2.003h2.039v2.003zm0-3.004H6.987V5.987h2.039v4.006z"></path></svg>
        An error occurred calling the GitHub API!  - {{errorMsg}}
    </div>

    <div class="row">

        <!-- Authentication -->
        <div *ngIf="!authenticated" class="col-lg-6 col-md-6 col-sm-6">
            <h2>GitHub Login</h2>
            <form ng-submit="gitHubLogin(username,password)" >
                <div class="form">
                    <div class="form-group mx-sm-2 mb-2">
                        <label for="username" class="sr-only">Username:</label>
                        <input type="text" class="form-control" id="username" name="username"
                            placeholder="Username" [(ngModel)]="username">
                    </div>
                    <div class="form-group mx-sm-2 mb-2">
                        <label for="password" class="sr-only">Password or PAT:</label>
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="Password or PAT" [(ngModel)]="password">
                    </div>
                    <button class="btn btn-primary mb-2" type="submit" [disabled]="loginButtonLoading" (click)="gitHubLogin(username,password)">
                        <span *ngIf="loginButtonLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Login<span *ngIf="loginButtonLoading">ing in...</span>
                    </button>
                    <div *ngIf="authenticationError" class="alert alert-danger" role="alert">
                        <svg class="octicon octicon-thumbsdown" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M15.98 7.83l-.97-5.95C14.84.5 13.13 0 12 0H5.69c-.2 0-.38.05-.53.14L3.72 1H2C.94 1 0 1.94 0 3v4c0 1.06.94 2.02 2 2h2c.91 0 1.39.45 2.39 1.55.91 1 .88 1.8.63 3.27-.08.5.06 1 .42 1.42.39.47.98.76 1.56.76 1.83 0 3-3.71 3-5.01l-.02-.98h2.04c1.16 0 1.95-.8 1.98-1.97 0-.11-.02-.21-.02-.21zm-1.97 1.19h-1.99c-.7 0-1.03.28-1.03.97l.03 1.03c0 1.27-1.17 4-2 4-.5 0-1.08-.5-1-1 .25-1.58.34-2.78-.89-4.14C6.11 8.75 5.36 8 4 8V2l1.67-1H12c.73 0 1.95.31 2 1l.02.02 1 6c-.03.64-.38 1-1 1h-.01z"></path></svg>
                        {{authenticationError}}
                    </div>
                    <div *ngIf="!authenticationError && !(gitHubUsers.total_count > 0)">
                        <p>Without login, your 
                            <a href="https://developer.github.com/v3/#rate-limiting" target="_blank">
                                rate limit</a> is pretty low.
                            </p>
                        <p>Increase your rate limit by logging in.</p>
                        <p>On July 1st, 2020, using your GitHub password to will no longer work.</p>
                        <p>Use a <a href="https://github.com/settings/tokens" target="_blank">
                            personal access token (PAT)</a> with 
                            <a href="https://docs.gitlab.com/ee/user/profile/personal_access_tokens.html#limiting-scopes-of-a-personal-access-token" target="_blank">
                                read only access 
                            </a> instead of your password.</p>
                    </div>
                    <p>Don't have a password? <a href="https://github.com/settings/tokens" target="_blank">
                        Create a GitHub account</a>.
                    </p>
                    <div *ngIf="rateLimitRemaining">
                        <p>API Calls Remaining: <b>{{rateLimitRemaining}}</b> 
                            -- Resets in {{rateLimitReset}} seconds
                        </p>
                    </div>
                    <div *ngIf="rateLimit && !rateLimitRemaining">
                        <p>API Rate Limit: <b>{{rateLimit}}</b></p>
                    </div>
                </div>
            </form>
        </div>

        <!-- GitHub User Input -->
        <div [ngClass]="{
            'col-lg-6 col-md-6 col-sm-6': !authenticated,
            'col-lg-12 col-md-12 col-sm-12': authenticated
          }">
            <h2>GitHub User</h2>
            <form ng-submit="getGitHubUsers(fullname)" >
                <div class="form-inline">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="fullname" class="sr-only">Full Name:</label>
                        <input type="text" class="form-control" id="fullname" name="fullname"
                            placeholder="Full Name" [(ngModel)]="fullname">
                    </div>
                    <button class="btn btn-primary mb-2" type="submit" [disabled]="searchButtonLoading" (click)="getGitHubUsers(fullname)">
                        <span *ngIf="searchButtonLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Search<span *ngIf="searchButtonLoading">ing...</span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Welcome Message -->
    <div *ngIf="!hideWelcomeMessage">
        <div class="col-12">
          <p class="alert alert-success">
            <svg class="octicon octicon-thumbsup" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M15.98 8.17l-.97 5.95C14.84 15.5 13.13 16 12 16H5.69c-.2 0-.38-.05-.53-.14L3.72 15H2c-1.06 0-2-.94-2-2V9c0-1.06.94-2.02 2-2h2c.91 0 1.39-.45 2.39-1.55.91-1 .88-1.8.63-3.27-.08-.5.06-1 .42-1.42C7.83.29 8.42 0 9 0c1.83 0 3 3.71 3 5.01l-.02.98h2.04c1.16 0 1.95.8 1.98 1.97 0 .11-.02.21-.02.21zm-1.97-1.19h-1.99c-.7 0-1.03-.28-1.03-.97l.03-1.03c0-1.27-1.17-4-2-4-.5 0-1.08.5-1 1 .25 1.58.34 2.78-.89 4.14C6.11 7.25 5.36 8 4 8v6l1.67 1H12c.73 0 1.95-.31 2-1l.02-.02 1-6c-.03-.64-.38-1-1-1h-.01z"></path></svg>
            <strong [ngClass] ="FadeOutWelcomeMsg()" >
            Welcome {{currentUser}}! </strong>
            <img src="{{currentUserAvatarUrl}}" width="50" height="50">
          </p>
        </div>
      </div>

    <!-- List of Users Found -->
    <div *ngIf="gitHubUsers.total_count > 0">
        Total Found: <b>{{gitHubUsers.total_count}}</b>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let user of gitHubUsers.items; index as i">
                <div class="row" (click)="getGitHubUserInfo(user.login, i)">
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <svg class="octicon octicon-triangle-right" *ngIf="selectedUser != i"
                        viewBox="0 0 6 16" version="1.1" width="6" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M0 14l6-6-6-6v12z"></path></svg>
                    <svg class="octicon octicon-triangle-down" *ngIf="selectedUser === i"
                        viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M0 5l6 6 6-6H0z"></path></svg>
                    </div>
                    <div class="col col-md-2 col-lg-2">
                        {{user.login}}
                    </div>
                    <div class="col col-md-2 col-lg-1">
                        <img src="{{user.avatar_url}}" width="50" height="50">
                    </div>
                    <div class="col col-md-2 col-lg-2">
                        <a href="{{user.html_url}}" target="_blank">GitHub Profile</a>
                    </div>
                    <div class="col col-md-3 col-lg-3">
                        <button *ngIf="gitHubUser.public_repos > 0 || selectedUser != i" 
                            class="btn btn-outline-primary mb-2 mr-2" 
                            (click)="getGitRepos(content, user.login)">
                            Repositories
                        </button>
                    </div>
                    
                    <!-- Repository List Modal Window -->
                    <ng-template #content let-modal>
                        <div class="modal-header">
                        <h4 class="modal-title">Repositories of 
                            <a href="{{user.html_url}}" target="_blank">{{user.login}}</a>
                        </h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">     

                            <!-- GitHub API Error getting repos -->
                            <div *ngIf="getReposError" class="alert alert-danger" role="alert">
                                <svg class="octicon octicon-thumbsdown" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M15.98 7.83l-.97-5.95C14.84.5 13.13 0 12 0H5.69c-.2 0-.38.05-.53.14L3.72 1H2C.94 1 0 1.94 0 3v4c0 1.06.94 2.02 2 2h2c.91 0 1.39.45 2.39 1.55.91 1 .88 1.8.63 3.27-.08.5.06 1 .42 1.42.39.47.98.76 1.56.76 1.83 0 3-3.71 3-5.01l-.02-.98h2.04c1.16 0 1.95-.8 1.98-1.97 0-.11-.02-.21-.02-.21zm-1.97 1.19h-1.99c-.7 0-1.03.28-1.03.97l.03 1.03c0 1.27-1.17 4-2 4-.5 0-1.08-.5-1-1 .25-1.58.34-2.78-.89-4.14C6.11 8.75 5.36 8 4 8V2l1.67-1H12c.73 0 1.95.31 2 1l.02.02 1 6c-.03.64-.38 1-1 1h-.01z"></path></svg>
                                {{getReposError}}
                            </div>

                            <div *ngIf="reposLoading" class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>

                            <div *ngIf="!reposLoading && gitHubRepos?.length == 0" class="alert alert-warning" role="alert">
                                <svg class="octicon octicon-thumbsdown" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M15.98 7.83l-.97-5.95C14.84.5 13.13 0 12 0H5.69c-.2 0-.38.05-.53.14L3.72 1H2C.94 1 0 1.94 0 3v4c0 1.06.94 2.02 2 2h2c.91 0 1.39.45 2.39 1.55.91 1 .88 1.8.63 3.27-.08.5.06 1 .42 1.42.39.47.98.76 1.56.76 1.83 0 3-3.71 3-5.01l-.02-.98h2.04c1.16 0 1.95-.8 1.98-1.97 0-.11-.02-.21-.02-.21zm-1.97 1.19h-1.99c-.7 0-1.03.28-1.03.97l.03 1.03c0 1.27-1.17 4-2 4-.5 0-1.08-.5-1-1 .25-1.58.34-2.78-.89-4.14C6.11 8.75 5.36 8 4 8V2l1.67-1H12c.73 0 1.95.31 2 1l.02.02 1 6c-.03.64-.38 1-1 1h-.01z"></path></svg>
                                No repositories found!
                            </div>

                            <!-- Top button for Contributions Graph -->
                            <button *ngIf="gitHubRepos?.length > 0" 
                                class="btn btn-outline-primary mb-2 mr-2" (click)="getGitContributors(user.login)">
                                <span *ngIf="contributionsLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <svg *ngIf="!contributionsLoading" class="octicon octicon-graph" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M16 14v1H0V0h1v14h15zM5 13H3V8h2v5zm4 0H7V3h2v10zm4 0h-2V6h2v7z"></path></svg>
                                Contributions Stats</button>

                            <div *ngIf="gettingContributorsMsg || reposWithNoContent" class="alert alert-warning" role="alert">
                                <span *ngIf="gettingContributorsMsg">
                                    <svg class="octicon octicon-watch" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M6 8h2v1H5V5h1v3zm6 0c0 2.22-1.2 4.16-3 5.19V15c0 .55-.45 1-1 1H4c-.55 0-1-.45-1-1v-1.81C1.2 12.16 0 10.22 0 8s1.2-4.16 3-5.19V1c0-.55.45-1 1-1h4c.55 0 1 .45 1 1v1.81c1.8 1.03 3 2.97 3 5.19zm-1 0c0-2.77-2.23-5-5-5S1 5.23 1 8s2.23 5 5 5 5-2.23 5-5z"></path></svg>
                                    {{gettingContributorsMsg}}
                                </span>
                                <span *ngIf="reposWithNoContent">
                                <svg class="octicon octicon-info" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M6.3 5.69a.942.942 0 01-.28-.7c0-.28.09-.52.28-.7.19-.18.42-.28.7-.28.28 0 .52.09.7.28.18.19.28.42.28.7 0 .28-.09.52-.28.7a1 1 0 01-.7.3c-.28 0-.52-.11-.7-.3zM8 7.99c-.02-.25-.11-.48-.31-.69-.2-.19-.42-.3-.69-.31H6c-.27.02-.48.13-.69.31-.2.2-.3.44-.31.69h1v3c.02.27.11.5.31.69.2.2.42.31.69.31h1c.27 0 .48-.11.69-.31.2-.19.3-.42.31-.69H8V7.98v.01zM7 2.3c-3.14 0-5.7 2.54-5.7 5.68 0 3.14 2.56 5.7 5.7 5.7s5.7-2.55 5.7-5.7c0-3.15-2.56-5.69-5.7-5.69v.01zM7 .98c3.86 0 7 3.14 7 7s-3.14 7-7 7-7-3.12-7-7 3.14-7 7-7z"></path></svg>
                                    No content found in the following repo(s): {{reposWithNoContent}}
                                </span>
                            </div> 

                            <div *ngIf="getContributionsError" class="alert alert-danger" role="alert">
                                <svg class="octicon octicon-alert" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M8.893 1.5c-.183-.31-.52-.5-.887-.5s-.703.19-.886.5L.138 13.499a.98.98 0 000 1.001c.193.31.53.501.886.501h13.964c.367 0 .704-.19.877-.5a1.03 1.03 0 00.01-1.002L8.893 1.5zm.133 11.497H6.987v-2.003h2.039v2.003zm0-3.004H6.987V5.987h2.039v4.006z"></path></svg>
                                {{getContributionsError}}
                            </div>

                            <!-- Contributions Statistics -->
                            <div *ngIf="successfulCalls > 0">
                                <p>Repo Stats Found: <b [ngClass]="{
                                    'text-warning': gettingContributorsMsg,
                                    'text-danger': getContributionsError
                                  }">{{successfulCalls}}</b> out of <b>{{selectedRepos.length}}</b></p>
                                <p *ngIf="totalRepoContributors > 1">Total Commits: <b>{{totalRepoCommits}}</b></p>
                                <p>Total Commits by <u>{{user.login}}</u>
                                    <span *ngIf="totalRepoContributors < 2"><i>(sole contributor)</i></span>: 
                                    <b>{{repoOwnerCommits}}</b>
                                </p>
                                <div *ngIf="totalRepoContributors > 1">
                                    <p>Percentage of commits by <u>{{user.login}}</u>:
                                        <b>{{repoOwnerCommits/totalRepoCommits | percent}}</b>
                                    </p>
                                    <p>Total Contributors: <b>{{totalRepoContributors}}</b></p>
                                </div>
                                <div *ngFor="let key of objectKeys(gitContributors)">
                                    Repo: <b>{{key}}</b>
                                    <div *ngFor="let contribution of gitContributors[key]">
                                        <ul>
                                            <li>Contributor: <a href="{{contribution?.author?.html_url}}" target="_blank">
                                                {{contribution?.author?.login}}</a></li>
                                            <li>Total Commits: <b>{{contribution?.total}}</b></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- List of Repos -->
                            <div *ngIf="successfulCalls == 0">
                                <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" id="masterSelector"
                                    value="masterSelector" (change)="checkUncheckAll()"/> 
                                    <label for="masterSelector"><strong>Select/Unselect All</strong></label>
                                <ul class="list-group">
                                    <li class="list-group-item" *ngFor="let repo of gitHubRepos; index as i">
                                        <input type="checkbox" [(ngModel)]="repo.isSelected" name="list_name" 
                                            value="{{repo.name}}" (change)="isAllSelected()"/> &nbsp;&nbsp;
                                        <a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a> &nbsp;&nbsp;
                                        <span *ngIf="repo.fork"><small>(forked)</small></span>
                                        <p>{{repo.description}}</p>
                                    </li>
                                </ul>
                            </div>
                            

                            <!-- Pagination -->
                            <div class="row">
                                <div class="col">
                                    <a href="#" *ngIf="pageLinks && pageLinks?.first" (click)="getReposFromLink(pageLinks?.first)">◀ first </a>
                                </div>
                                <div class="col">
                                    <a href="#" *ngIf="pageLinks && pageLinks?.prev" (click)="getReposFromLink(pageLinks?.prev)">◀ prev </a>
                                </div>
                                <div class="col">
                                    <a href="#" *ngIf="pageLinks && pageLinks?.next" (click)="getReposFromLink(pageLinks?.next)">next ▶ </a>
                                </div>
                                <div class="col">
                                    <a href="#" *ngIf="pageLinks && pageLinks?.last" (click)="getReposFromLink(pageLinks?.last)">last ▶ </a>     
                                </div>
                            </div>
                            
                            <!-- Bottom button for Contributions Graph -->
                            <div class="row" style="padding-top:10px;">
                                <div class="col">
                                    <button *ngIf="gitHubRepos?.length > 5 && successfulCalls == 0" 
                                        class="btn btn-outline-primary mb-2 mr-2" (click)="getGitContributors(user.login)">
                                        <span *ngIf="contributionsLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        <svg *ngIf="!contributionsLoading" class="octicon octicon-graph" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M16 14v1H0V0h1v14h15zM5 13H3V8h2v5zm4 0H7V3h2v10zm4 0h-2V6h2v7z"></path></svg>
                                        Contributions Stats</button>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                        </div>
                    </ng-template>
        
                </div>

                <!-- User Details -->
                <div *ngIf="selectedUser === i && userDetailsloading" class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>

                <div *ngIf="selectedUser === i && !userDetailsloading">
                    <div *ngIf="gitHubUser.name">
                        <svg class="octicon octicon-person" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 14.002a.998.998 0 01-.998.998H1.001A1 1 0 010 13.999V13c0-2.633 4-4 4-4s.229-.409 0-1c-.841-.62-.944-1.59-1-4 .173-2.413 1.867-3 3-3s2.827.586 3 3c-.056 2.41-.159 3.38-1 4-.229.59 0 1 0 1s4 1.367 4 4v1.002z"></path></svg>
                        {{gitHubUser.name}}
                    </div>
                    <div *ngIf="gitHubUser.bio" class="col-sm-12 col-md-8 col-lg-6"><i>{{gitHubUser.bio}}</i></div>
                    <div *ngIf="gitHubUser.company">
                        <svg class="octicon octicon-organization" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M16 12.999c0 .439-.45 1-1 1H7.995c-.539 0-.994-.447-.995-.999H1c-.54 0-1-.561-1-1 0-2.634 3-4 3-4s.229-.409 0-1c-.841-.621-1.058-.59-1-3 .058-2.419 1.367-3 2.5-3s2.442.58 2.5 3c.058 2.41-.159 2.379-1 3-.229.59 0 1 0 1s1.549.711 2.42 2.088C9.196 9.369 10 8.999 10 8.999s.229-.409 0-1c-.841-.62-1.058-.59-1-3 .058-2.419 1.367-3 2.5-3s2.437.581 2.495 3c.059 2.41-.158 2.38-1 3-.229.59 0 1 0 1s3.005 1.366 3.005 4z"></path></svg>
                        {{gitHubUser.company}}
                    </div>
                    <div *ngIf="gitHubUser.public_repos">Total Public Repos: <b>{{gitHubUser.public_repos}}</b></div>
                    <div *ngIf="!gitHubUser.public_repos || gitHubUser.public_repos == 0"><b>No public repositories found</b></div>
                </div>

                <!-- User Not Found - API Error -->
                <div *ngIf="userDetailsError && selectedUser === i" class="alert alert-danger" role="alert">
                    <svg class="octicon octicon-thumbsdown" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M15.98 7.83l-.97-5.95C14.84.5 13.13 0 12 0H5.69c-.2 0-.38.05-.53.14L3.72 1H2C.94 1 0 1.94 0 3v4c0 1.06.94 2.02 2 2h2c.91 0 1.39.45 2.39 1.55.91 1 .88 1.8.63 3.27-.08.5.06 1 .42 1.42.39.47.98.76 1.56.76 1.83 0 3-3.71 3-5.01l-.02-.98h2.04c1.16 0 1.95-.8 1.98-1.97 0-.11-.02-.21-.02-.21zm-1.97 1.19h-1.99c-.7 0-1.03.28-1.03.97l.03 1.03c0 1.27-1.17 4-2 4-.5 0-1.08-.5-1-1 .25-1.58.34-2.78-.89-4.14C6.11 8.75 5.36 8 4 8V2l1.67-1H12c.73 0 1.95.31 2 1l.02.02 1 6c-.03.64-.38 1-1 1h-.01z"></path></svg>
                    {{userDetailsError}}
                </div>
                
            </li>
        </ul>
    </div>

    <!-- No Users Found Message -->
    <div *ngIf="gitHubUsers.total_count == 0" class="alert alert-warning" role="alert">
        <svg class="octicon octicon-thumbsdown" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M15.98 7.83l-.97-5.95C14.84.5 13.13 0 12 0H5.69c-.2 0-.38.05-.53.14L3.72 1H2C.94 1 0 1.94 0 3v4c0 1.06.94 2.02 2 2h2c.91 0 1.39.45 2.39 1.55.91 1 .88 1.8.63 3.27-.08.5.06 1 .42 1.42.39.47.98.76 1.56.76 1.83 0 3-3.71 3-5.01l-.02-.98h2.04c1.16 0 1.95-.8 1.98-1.97 0-.11-.02-.21-.02-.21zm-1.97 1.19h-1.99c-.7 0-1.03.28-1.03.97l.03 1.03c0 1.27-1.17 4-2 4-.5 0-1.08-.5-1-1 .25-1.58.34-2.78-.89-4.14C6.11 8.75 5.36 8 4 8V2l1.67-1H12c.73 0 1.95.31 2 1l.02.02 1 6c-.03.64-.38 1-1 1h-.01z"></path></svg>
        No results found!
    </div>
    
</div>

<app-footer></app-footer>