<app-header (loggedOut)="onLogout($event)" [parentAuthenticated]="authenticated"></app-header>

<div class="container">
    <div *ngIf="errorMsg" class="alert alert-danger" role="alert">
        <svg class="octicon octicon-alert" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M8.893 1.5c-.183-.31-.52-.5-.887-.5s-.703.19-.886.5L.138 13.499a.98.98 0 000 1.001c.193.31.53.501.886.501h13.964c.367 0 .704-.19.877-.5a1.03 1.03 0 00.01-1.002L8.893 1.5zm.133 11.497H6.987v-2.003h2.039v2.003zm0-3.004H6.987V5.987h2.039v4.006z"></path></svg>
        An error occurred calling the GitHub API!  - {{errorMsg}}
    </div>

    <div class="row">
        <div *ngIf="!authenticated" class="col-lg-6 col-md-6 col-sm-6">
            <h2>GitHub Login</h2>
            <form ng-submit="gitHubLogin(username,password)" >
                <div class="form">
                    <div class="form-group mx-sm-2 mb-2">
                        <label for="username" class="sr-only">Username:</label>
                        <input type="text" class="form-control" id="username" name="username"
                            placeholder="Username" [(ngModel)]="username">
                    </div>
                    <div class="form-group mx-sm-2 mb-2">
                        <label for="password" class="sr-only">Password or PAT:</label>
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="Password or PAT" [(ngModel)]="password">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2" (click)="gitHubLogin(username,password)">Login</button>
                    <div *ngIf="authenticationError" class="alert alert-danger" role="alert">
                        <svg class="octicon octicon-thumbsdown" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M15.98 7.83l-.97-5.95C14.84.5 13.13 0 12 0H5.69c-.2 0-.38.05-.53.14L3.72 1H2C.94 1 0 1.94 0 3v4c0 1.06.94 2.02 2 2h2c.91 0 1.39.45 2.39 1.55.91 1 .88 1.8.63 3.27-.08.5.06 1 .42 1.42.39.47.98.76 1.56.76 1.83 0 3-3.71 3-5.01l-.02-.98h2.04c1.16 0 1.95-.8 1.98-1.97 0-.11-.02-.21-.02-.21zm-1.97 1.19h-1.99c-.7 0-1.03.28-1.03.97l.03 1.03c0 1.27-1.17 4-2 4-.5 0-1.08-.5-1-1 .25-1.58.34-2.78-.89-4.14C6.11 8.75 5.36 8 4 8V2l1.67-1H12c.73 0 1.95.31 2 1l.02.02 1 6c-.03.64-.38 1-1 1h-.01z"></path></svg>
                        {{authenticationError}}
                    </div>
                    <div *ngIf="!authenticationError && !rateLimitRemaining">
                        <p>Without login, your rate limit is normally 10 API calls every 10 seconds.</p>
                        <p>Increase your rate limit by logging in.</p>
                        <p>On July 1st, 2020, using your GitHub password to will no longer work.</p>
                        <p>Use a <a href="https://github.com/settings/tokens" target="_blank">
                            personal access token (PAT)</a> with 
                            <a href="https://docs.gitlab.com/ee/user/profile/personal_access_tokens.html#limiting-scopes-of-a-personal-access-token" target="_blank">
                                read only access 
                            </a> instead of your password.</p>
                    </div>
                    <p>Don't have a password? <a href="https://github.com/settings/tokens" target="_blank">
                        Create a GitHub account</a>.
                    </p>
                    <div *ngIf="rateLimitRemaining">
                        <p>API Calls Remaining until {{rateLimitReset | date: 'h:mm:ss a z'}} -- <b>{{rateLimitRemaining}}</b></p>
                    </div>
                </div>
            </form>
        </div>
        <div [ngClass]="{
            'col-lg-6 col-md-6 col-sm-6': !authenticated,
            'col-lg-12 col-md-12 col-sm-12': authenticated
          }">
            <h2>GitHub User</h2>
            <form ng-submit="getGitHubUsers(fullname)" >
                <div class="form-inline">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="fullname" class="sr-only">Full Name:</label>
                        <input type="text" class="form-control" id="fullname" name="fullname"
                            placeholder="Full Name" [(ngModel)]="fullname">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2" (click)="getGitHubUsers(fullname)">Search</button>
                </div>
            </form>
        </div>
    </div>
    
    <div *ngIf="!hideWelcomeMessage">
        <div class="col-12">
          <p class="alert alert-success">
            <svg class="octicon octicon-thumbsup" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M15.98 8.17l-.97 5.95C14.84 15.5 13.13 16 12 16H5.69c-.2 0-.38-.05-.53-.14L3.72 15H2c-1.06 0-2-.94-2-2V9c0-1.06.94-2.02 2-2h2c.91 0 1.39-.45 2.39-1.55.91-1 .88-1.8.63-3.27-.08-.5.06-1 .42-1.42C7.83.29 8.42 0 9 0c1.83 0 3 3.71 3 5.01l-.02.98h2.04c1.16 0 1.95.8 1.98 1.97 0 .11-.02.21-.02.21zm-1.97-1.19h-1.99c-.7 0-1.03-.28-1.03-.97l.03-1.03c0-1.27-1.17-4-2-4-.5 0-1.08.5-1 1 .25 1.58.34 2.78-.89 4.14C6.11 7.25 5.36 8 4 8v6l1.67 1H12c.73 0 1.95-.31 2-1l.02-.02 1-6c-.03-.64-.38-1-1-1h-.01z"></path></svg>
            <strong [ngClass] ="FadeOutWelcomeMsg()" >
            Welcome {{currentUser}}! </strong>
            <img src="{{currentUserAvatarUrl}}" width="50" height="50">
          </p>
        </div>
      </div>

    <div *ngIf="gitHubUsers.total_count > 0">
        Total Found: <b>{{gitHubUsers.total_count}}</b>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let user of gitHubUsers.items">
                <a href="{{user.html_url}}">{{user.login}}</a>&nbsp;&nbsp;&nbsp;
                <img src="{{user.avatar_url}}" width="50" height="50">
            </li>
        </ul>
    </div>

    <div *ngIf="gitHubUsers.total_count == 0" class="alert alert-warning" role="alert">
        <svg class="octicon octicon-thumbsdown" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M15.98 7.83l-.97-5.95C14.84.5 13.13 0 12 0H5.69c-.2 0-.38.05-.53.14L3.72 1H2C.94 1 0 1.94 0 3v4c0 1.06.94 2.02 2 2h2c.91 0 1.39.45 2.39 1.55.91 1 .88 1.8.63 3.27-.08.5.06 1 .42 1.42.39.47.98.76 1.56.76 1.83 0 3-3.71 3-5.01l-.02-.98h2.04c1.16 0 1.95-.8 1.98-1.97 0-.11-.02-.21-.02-.21zm-1.97 1.19h-1.99c-.7 0-1.03.28-1.03.97l.03 1.03c0 1.27-1.17 4-2 4-.5 0-1.08-.5-1-1 .25-1.58.34-2.78-.89-4.14C6.11 8.75 5.36 8 4 8V2l1.67-1H12c.73 0 1.95.31 2 1l.02.02 1 6c-.03.64-.38 1-1 1h-.01z"></path></svg>
        No results found!
    </div>
    
</div>

<app-footer></app-footer>